.item {
  display: flex;
  align-items: center;

  .logo {
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    
    .icon {
      width: 150px;
      aspect-ratio: 1;
      background-color: #0093e9;
      background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .school {
      font-size: 1.5rem;
      font-weight: 600;
    }

    .dates {
      font-size: 1rem;
      opacity: 80%;
    }
  }
}
