#navbar {
  ul.nav {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;

    li {
      flex: 25%;
    }
    a {
      display: block;
      width: 100%;
      padding: 10px 30px;
      color: inherit;
      text-align: center;
      text-decoration: none;
      opacity: 90%;
    }
  }
}

#sections,
#navbar {
  max-width: 1300px;
  margin: 0 auto;
}

#footer {
  display: flex;
  justify-content: center;
  padding: 100px 20px 120px;
  margin: 100px 100px 0;
  opacity: 60%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  text-align: center;
}

@media (max-width: 570px) {
  #footer {
    margin: 50px;
  }
}
