<nav id="navbar">
  <ul class="nav">
    <li>
      <a href="#about">About</a>
    </li>
    <li>
      <a href="#projects">Projects</a>
    </li>
    <li>
      <a href="#education">Education</a>
    </li>
    <li>
      <a href="#languages">Languages</a>
    </li>
  </ul>
</nav>

<main id="sections">
  <app-about></app-about>
  <app-projects></app-projects>
  <app-education></app-education>
  <app-languages></app-languages>
</main>

<footer id="footer">Copyright &copy;2024, Julia Bandurska</footer>
