<section id="about">
  <div class="introduction">
    <p>
      Hi! My name is <span>Julia Bandurska</span> and I'm a third year
      <span>Computer Science</span> student.
    </p>
    <p>
      I'm looking for a full-time employment as a
      <span>Software Developer</span>. If you're interested in working with me,
      feel free to reach out!
    </p>
  </div>
  <div class="content">
    <div class="links">
      <div class="link">
        <a href="mailto:juliabandurska02@gmail.com">
          <app-svg-icon
            class="icon"
            path="assets/icons/mail.svg"
          ></app-svg-icon>
          juliabandurska02&#64;gmail.com
        </a>
      </div>
      <div class="link">
        <a href="https://www.google.com/maps/place/Gda%C5%84sk" target="_blank">
          <app-svg-icon
            class="icon"
            path="assets/icons/location.svg"
          ></app-svg-icon>
          Gdańsk, Poland
        </a>
      </div>
      <div class="link">
        <a href="https://pl.linkedin.com/in/julia-bandurska" target="_blank">
          <app-svg-icon
            class="icon"
            path="assets/icons/linkedin.svg"
          ></app-svg-icon>
          julia-bandurska
        </a>
      </div>
      <div class="link">
        <a href="https://github.com/jbandurska" target="_blank">
          <app-svg-icon
            class="icon"
            path="assets/icons/github.svg"
          ></app-svg-icon>
          jbandurska
        </a>
      </div>
    </div>
    <div class="picture">
      <img src="assets/images/profile.jpg" alt="Julia Bandurska" />
    </div>
  </div>
</section>
