<section id="projects">
  <h2>Projects</h2>

  <div class="project desktop">
    <div class="content">
      <div class="images">
        <img src="assets/images/instagram-3.png" alt="Instagram project" />
        <img src="assets/images/instagram-1.png" alt="Instagram project" />
        <img src="assets/images/instagram-2.png" alt="Instagram project" />
      </div>
      <div class="description">
        <h3>
          Instagram Imitation
          <a href="https://github.com/jbandurska/instagram-imitation" target="_blank">
            <app-svg-icon
              class="icon"
              path="assets/icons/github.svg"
            ></app-svg-icon>
          </a>
        </h3>

        <div class="text">
          <p>I created this project at my third semester (year 2022).</p>
          <p>
            It's an imitation of Instagram. Among other things, it allows to
            create accounts, message users and add pictures and comments.
          </p>
        </div>

        <div class="tech">
          <p>Tech stack</p>
          <div class="tiles">
            <app-tile
              path="assets/icons/react.svg"
              title="React"
              style="--highlight: #00d8ff"
            ></app-tile>
            <app-tile
              path="assets/icons/express.svg"
              title="Express.js"
              style="--highlight: #fff"
            ></app-tile>
            <app-tile
              path="assets/icons/socket.svg"
              title="Socket.io"
              style="--highlight: #fff"
            ></app-tile>
            <app-tile
              path="assets/icons/mongodb.svg"
              title="MongoDB"
              style="--highlight: #4db33d"
            ></app-tile>
            <app-tile
              path="assets/icons/docker.svg"
              title="Docker"
              style="--highlight: #0db7ed"
            ></app-tile>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="project mobile">
    <div class="content">
      <div class="images">
        <img src="assets/images/couplesync-1.png" alt="couplesync project" />
        <img src="assets/images/couplesync-2.png" alt="couplesync project" />
        <img src="assets/images/couplesync-3.png" alt="couplesync project" />
      </div>
      <div class="description">
        <h3>CoupleSync</h3>

        <div class="text">
          <p>
            CoupleSync is a mobile app made for couples. It's main purpose is to
            make partners' lives easier.
          </p>
          <p>
            The app is being developed by a two-person team. I am responsible
            for the frontend.
          </p>
          <p>This is the topic of my bachelor's thesis.</p>
        </div>

        <div class="tech">
          <p>Tech stack</p>
          <div class="tiles">
            <app-tile
              path="assets/icons/figma.svg"
              title="Figma"
              style="--highlight: #a259ff"
            ></app-tile>
            <app-tile
              path="assets/icons/angular.svg"
              title="Angular"
              style="--highlight: #dd0031"
            ></app-tile>
            <app-tile
              path="assets/icons/typescript.svg"
              title="TypeScript"
              style="--highlight: #3178c6"
            ></app-tile>
            <app-tile
              path="assets/icons/ionic.svg"
              title="Ionic"
              style="--highlight: #3880ff"
            ></app-tile>
            <app-tile
              path="assets/icons/capacitor.svg"
              title="Capacitor"
              style="--highlight: #56b1fc"
            ></app-tile>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="small-projects">
    <h3>Some of my smaller projects</h3>
    <div class="project">
      <img src="assets/images/serwis-y.png" alt="Twitter project" />
      <p>
        A twitter-like application created with Vue, Express.js, Socket.io and MongoDB.
        <a href="https://github.com/jbandurska/Serwis-Y" target="_blank">
          <app-svg-icon
            class="icon"
            path="assets/icons/github.svg"
          ></app-svg-icon>
        </a>
      </p>
      <app-tile
        path="assets/icons/vue.svg"
        title="Vue"
        style="--highlight: #41b883"
      ></app-tile>
    </div>
    <div class="project">
      <img src="assets/images/instagram.png" alt="PyGad project" />
      <p>
        Genetic algorithm written in Python using PyGad for winning the game of ice.
      </p>
      <app-tile
        path="assets/icons/python.svg"
        title="Python"
        style="--highlight: #f9c600"
      ></app-tile>
    </div>
    <div class="project">
      <img src="assets/images/keycloak.png" alt="Keycloak project" />
      <p>
        A simple React app secured with Keycloak and OAuth.
        <a href="https://github.com/jbandurska/keycloak-project" target="_blank">
          <app-svg-icon
            class="icon"
            path="assets/icons/github.svg"
          ></app-svg-icon>
        </a>
      </p>
      <app-tile
        path="assets/icons/oauth.svg"
        title="OAuth"
        style="--highlight: #fff"
      ></app-tile>
    </div>
    <div class="project">
      <img src="assets/images/goodreads.png" alt="Spring project" />
      <p>
        An app created with Spring Boot and Thymeleaf for rating books.
        <a href="https://github.com/jbandurska/Spring-Boot-Project" target="_blank">
          <app-svg-icon
            class="icon"
            path="assets/icons/github.svg"
          ></app-svg-icon>
        </a>
      </p>
      <app-tile
        path="assets/icons/spring.svg"
        title="Spring"
        style="--highlight: #70ad51"
      ></app-tile>
    </div>
  </div>
</section>
