@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #0f0f0f;
  --foreground-color: rgba(255, 255, 255, 0.05);
  --text-color: #efefef;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: min(1.2rem, 5vw);
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

section {
  margin: 50px 0;
  padding: 50px 20px;
}

img {
  width: 100%;
}

h2 {
  font-size: 2.4rem;
  margin: 45px 0;
}
