<section id="languages">
  <h2>Languages</h2>
  <div class="languages">
    <div class="lang">
      <img src="assets/icons/flag-pl.svg" alt="polish flag" />
      <div class="info">
        <span class="name">Polish</span>
        <span class="level">Native</span>
      </div>
    </div>
    <div class="lang">
      <img src="assets/icons/flag-us.svg" alt="us flag" />
      <div class="info">
        <span class="name">English</span>
        <span class="level">C1</span>
        <!-- <div class="cert">( Click to download certificate )</div> -->
      </div>
    </div>
    <div class="lang">
      <img src="assets/icons/flag-es.svg" alt="spanish flag" />
      <div class="info">
        <span class="name">Spanish</span>
        <span class="level">A2</span>
      </div>
    </div>
  </div>
</section>
